<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb by Cami</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css" crossorigin="anonymous">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Airbnb by Cami</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/stays">Stays</a>
                    <% if(!currentUser){ %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Rgister</a>
                    <% }else{ %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>Airbnb by Cami</h1>
            <p class="lead">Welcome to Airbnb by Cami <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci cupiditate, fugit ut earum facilis tempora tempore sed aut explicabo! Itaque dolores dicta quo possimus, obcaecati architecto quaerat. Eum, ullam laboriosam!</p>
            <a href="/stays" class="btn btn-lg btn-secondary font-weight-bold">See all Stays</a>
        </main>
        <footer class="mt-auto text-white-50">
            <p>&copy; 2023 Airbnb by Cami</p>
        </footer>

    </div>





    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>



</html>